<div>

    <!-- Tela de instruções - parte inicial -->
    <div>
    <P>Instruções do jogo:</P>
    <p>Para conquistar pontos no jogo Simon Game, o jogador precisa se lembrar da sequência de cores e repeti-la
        pressionando os botões coloridos na ordem correta, aumentando o suspense em cada rodada. Os jogadores devem
        tentar superar a pontuação mais alta completando sequências mais longas sem errar.</p>
    
    <a href="#" class="btn btn2">Iniciar</a>
    </div>

    <!-- São 4 botões, um de cada cor. Ao ser ativado chama a estilizalçao de preenchimento e chama a função que recebe o movimento do jogador -->
    <div class="container">
        <div class="flex center">
            <app-jogo-botao [active]="colors.red" color="red" (adivinha)="jogadorMovimenta($event)"></app-jogo-botao>
        </div>

        <div class="flex middle">
            <app-jogo-botao [active]="colors.blue" color="blue" (adivinha)="jogadorMovimenta($event)"></app-jogo-botao>

            <p>{{count}}</p>

            <app-jogo-botao [active]="colors.green" color="green" (adivinha)="jogadorMovimenta($event)">
            </app-jogo-botao>
        </div>

        <div class="flex center">
            <app-jogo-botao [active]="colors.yellow" color="yellow" (adivinha)="jogadorMovimenta($event)">
            </app-jogo-botao>
        </div>

        <div class="flex center">
            <a class="btn btn2" (click)="restartJogo()">Restart</a>
        </div>

    </div>

</div>