<div>
    <!-- Tela de instruções - parte inicial -->
    <div  *ngIf="showInicio">
        <div>
            <div>
                <h3 class="flex center">Instruçoes do jogo</h3>
            </div>

            <div class="flex center">
                <ul>
                    <li>Inicie essa aventura e teste sua memória;</li>
                    <li>Para conquistar pontos no "Simon Game", você precisa lembrar da sequência aleatórioa de
                        cores e repeti-la;</li>
                    <li>Pressione os botões coloridos na ordem correta;</li>
                    <li>A cada rodada é um suspense, pois vai aumentando a sequência e seu desafio será conseguir a
                        maior pontuação sem errar;</li>
                </ul>
            </div>
        </div>

        <div class="flex center">
            <a href="#" class="btn btn2" (click)="iniciarJogo()">Iniciar</a>
        </div>

    </div>

    <!-- São 4 botões, um de cada cor. Ao ser ativado chama a estilizalçao de preenchimento e chama a função que recebe o movimento do jogador -->
    <div class="container" *ngIf="showJogo">
        <div class="flex center">
            <app-jogo-botao [active]="colors.red" color="red" (adivinha)="jogadorMovimenta($event)">
            </app-jogo-botao>
        </div>

        <div class="flex middle">
            <app-jogo-botao [active]="colors.blue" color="blue" (adivinha)="jogadorMovimenta($event)">
            </app-jogo-botao>

            <p>{{count}}</p>

            <app-jogo-botao [active]="colors.green" color="green" (adivinha)="jogadorMovimenta($event)">
            </app-jogo-botao>
        </div>

        <div class="flex center">
            <app-jogo-botao [active]="colors.yellow" color="yellow" (adivinha)="jogadorMovimenta($event)">
            </app-jogo-botao>
        </div>

        <div class="flex center">
            <a class="btn btn2" (click)="restartJogo()" *ngIf="jogarNovamente">Restart</a>
        </div>
    </div>

</div>