/* You can add global styles to this file, and also import other style files */

:root {
    --black: #38014a;
    --green: #29bf12;
    --blue: #08bdbd;
    --red: #f21b3f;
    --yellow: #ff9915;
}

body {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1019919385/thumb/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: sans-serif;

}